@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

.navContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
}

.customLink,
.navTitle {
  text-decoration: none;
  color: inherit;
}

.navTitle {
  font-family: 'Single Day', cursive;
}

.customLink:hover,
.navTitle:hover {
  color: inherit;
}
