.weatherContainer {
  background-color: #edfaef;
}

.weatherTitle {
  display: inline-block;
  width: 50%;
  background-color: #edfaef;
}

.weatherCard {
  width: 12%;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: auto;
}
